---
---
$green: #9cb069;
$blue: #3eb3c4;
$yellow: #f6a623;
$orange: #e77918;
$light-gray: #efefef;
$dark-gray: #4a4a4a;

@font-face{ 
  font-family: 'Liberation Sans';
  src: url('../fonts/LiberationSans.woff') format('woff');
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Liberation Sans', sans-serif;
  color: $dark-gray;
  min-height: calc(100% - 53px);
  position: relative;
  padding-bottom: 60px;
  background-color: $light-gray;
}

.container {
  background-color: #fff;
}

footer {
  padding: 20px 5px;
  height: 60px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $dark-gray;
  color: #fff;
  a {
    color: $light-gray;
    text-decoration: underline;
    padding: 0 15px;
    border-right: 1px solid $light-gray;
    font-size: 12px;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border-right-width: 0px;
    }
    &:hover {
      color: $light-gray;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Liberation Sans', sans-serif;
  font-weight: bold;
}


h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.alert {
  border-radius: 0;
  &.alert-search {
    border-color: $light-gray;
    background-color: $light-gray;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: $green;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    background-color: $green;
    text-align: right;
  }
}

nav.navbar-default {
  background-color: $light-gray;
  border-bottom: 0px solid #fff;
  .container {
    border-bottom: 5px solid #fff;
  }
  .navbar-nav {
    margin: 0 -15px;
    @media (min-width: 750px) {
      margin: 0 15px;
    }
    @media (min-width: 767px) {
      background-color: $green;
      font-size: 17px;  
      li a {
        padding: 5px 10px;
        margin: 10px;
        &.active {
          border-bottom: 5px solid #fff;
        }
      }
      .dropdown.open a {
        color: #fff;
        background-color: $green;
      }
      .dropdown-menu {
        background-color: $green;
        padding: 0;
        border: none;
        border-radius: 0;
        border-top: 1px solid #fff;
        a {
          padding: 5px;
          margin: 5px 10px 0 10px;
          border-bottom: 1px solid #fff;
        }
        a:first-of-type {
          border-bottom-width: 0px;
        }
      }
    }
  }
  .navbar-header {
    background-color: #fff;
  }
  .navbar-brand {
    padding: 7px;
    @media (min-width: 750px) {
      padding: 7px 30px;
    }
    img {
      max-height: 45px;
    }
  }
  .nav-button {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    float: right;
    background-color: $green;
    border: none;
    padding: 15px 30px;
  }
  .navbar-collapse {
    @media (max-width: 767px) {
      background-color: $green;
    }
    text-align: right;
    border-color: #fff;
    text-transform: uppercase;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    @media (max-width: 767px) {
      li {
        border-bottom: 1px dotted #fff;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

.navbar-margin {
  margin-top: 53px;
  padding: 5px;
  padding-bottom: 40px;
  min-height: calc(100vh - 113px);
  @media (min-width: 750px) {
    padding: 20px 30px 40px 30px;
  }
  .row {
    margin-right: -5px;
    margin-left: -5px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.landing {
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
  .watch-latest {
    display: block;
    padding: 10px;
    margin-top: 10px;
    img {
      width: 75px;
    }
    .cta {
      width: calc(100% - 85px);
      float: right;
      margin-left: 10px;
      font-size: 18px;
      color: $dark-gray;
    }
  }
  .weekly-spotlight {
    margin-top: 10px;
    position: relative;
    color: #fff;
    background-image: url("../img/solid-waste.jpg");
    background-size: cover;
    background-position: bottom;
    padding: 0;
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
    }
    .header {
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px 20px;
      background-color: $blue;
      width: 80%;
    }
    .content {
      background-color: rgba(0,0,0,0.5);
      background-position: center center;
      width: 80%;
      padding: 10px 20px 30px 20px;
      .title {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .text {
        padding-bottom: 25px;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .find-out {
        background-color: rgba(255, 255, 255, 0.2);
        border: solid 0.5px #fff;
        color: #fff;
        padding: 7px 15px;
        font-size: 16px;
        text-decoration: underline;
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.single-guide-page, .step-detail-page, .generic, .who-can-help {
  .title-bar {
    text-align: center;
    margin-top: 10px;
  }
  .back {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 10px;
    margin-top: -35px;
    position: absolute;
    color: $dark-gray;
    &:hover {
      color: $dark-gray;
    }
    .text {
      @media (max-width: 992px) {
        display: none;
      }
    }
    i {
      margin-right: 5px;
    }
  }
}

.single-guide-page {
  .rating, .page-share {
    display: inline-block;
    font-size: 15px;
  }
  .rating {
    width: 50%;
    float: left;
    i {
      color: $yellow;
    }
  }
  .page-share {
    width: 100%;
    text-align: center;
    font-size: 18px;
    a {
      color: $blue;
    }
  }
  .did-you-know {
    padding: 25px 10px 0 10px;
    .title {
      margin-bottom: 5px;
      i {
        color: $blue;
      }
    }
  }
  .full-rights {
    background-color: $orange;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    &:hover {
      text-decoration: none;
    }
  }
  .summary {
    padding: 0 10px;
    margin-top: 25px;
  }
  .guide {
    background-color: $green;
    margin-top: 25px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    .description {
      padding: 10px;
      font-size: 17px;
    }
    .single-step {
      .title-box, .title-box-external {
        background-color: #fff;
        color: $dark-gray;
        padding: 10px;
        margin-top: 5px;
        display: block;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
        .circle, .title {
          display: inline-block;
        }
        .circle {
          background-color: $green;
          height: 45px;
          width: 45px;
          border-radius: 100px;
          text-align: center;
          line-height: 45px;
          color: #fff;
          font-size: 20px;
        }
        .title {
          font-weight: bold;
          margin-left: 10px;
          width: calc(100% - 60px);
          vertical-align: middle; 
        }
        .cta {
          text-align: right;
          font-size: 12px;
          text-decoration: underline;
          padding-top: 10px;
          i {
            margin-left: 5px;
          }
        }
      }
      .content {
        background-color: #fff;
        padding: 15px;
        display: none;
        .step-title {
          display: none;
        }
      }
    }
    .comment {
      padding: 10px;
      font-size: 15px;
    }
  }
  .who-can-help {
    background-color: $blue;
    color: #fff;
    text-decoration: underline;
    text-align: right;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 18px;
    display: block;
    i {
      margin-left: 10px;
    }
  }
  .act {
    color: $dark-gray;
    i {
      color: $orange;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}

.step-detail-page, .guide {
  .header {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  hr {
    margin: 10px -15px;
    border-top: 2px dotted #fff;
  }
  > .title, .summary, .intro, .resources, .legal-info, {
    padding: 5px 15px;
    margin-top: 15px;
    line-height: 22px;
    a {
      text-decoration: underline;
    }
  }
  .summary {
    background-color: $orange;
    color: #fff;
    ul {
      li {
        margin-bottom: 10px;
        i {
          margin-top: 2px;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .intro {
    background-color: $dark-gray;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .resources {
    background-color: $green;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .legal-info {
    background-color: $orange;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .next-step {
    background-color: $blue;
    color: #fff;
    text-decoration: underline;
    text-align: right;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 18px;
    display: block;
    i {
      margin-left: 10px;
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 25px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.who-can-help {
  .subtitle {
    margin-top: 25px;
    text-align: center;
  }
  .logo {
    img {
      width: 100%;
    }
  }
  .partners {
    margin-top: 20px;
    .single-partner {
      margin-top: 5px;
      background-color: $light-gray;
      padding: 20px 10px;
      .summary {
        font-size: 15px;
        i {
          margin-right: 5px;
        }
        div {
          margin-top: 5px;
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
      .description {
        margin-top: 15px;
      }
    }
  }
}

.legal-terms {
  @media (min-width: 992px) {
    .privacy-policy {
      border-left: 1px solid #ccc;
    }
  }
  .table-of-content {
    a {
      font-size: 14px;
      display: block;
    }
  }
  .anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
  }
}

.about {
  .partners {
    text-align: center;
    .single-partner {
      padding-bottom: 20px;
      img {
        padding: 15px;
        border: 1px solid $light-gray;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

@media print {
  body, h1, h2, h3, h4 {
    font-family: sans-serif;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
  hr {
    display: none;
  }
  .navbar-margin {
    padding: 30px 50px;
  }
  .single-guide-page, .step-detail-page, .generic, .who-can-help {
    .title-bar {
      text-align: left;
      font-weight: bold;
    }
  }
  .guide {
    .description {
      padding: 0 !important;
    }
    .single-step {
      border: 1px solid #000;
      padding: 15px;
      margin-top: 20px;
      .cta {
        display: none;
      }
      .header {
        font-weight: bold;
        margin-top: 30px;
        font-size: 26px;
      }
      .circle {
        border: 1px solid #000;
      }
      .title {
        font-size: 26px;
      }
      .step-title {
        display: none;
      }
      .content {
        display: block !important;
      }
      .title-box {
        &::after {
          display: none;
        }
        .title {
          width: 90% !important;
        }
      }
    }
    .comment {
      margin-top: 20px;
    }
    .summary, .intro, .resources, .legal-info, {
      padding-bottom: 30px;
      a {
        text-decoration: none;
      }
      .header, p {
        page-break-inside: avoid !important;
      }
    }
  }
  .summary, .intro, .resources {
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
  }
  .intro, .summary, .legal-info {
    .header {
      margin-bottom: 20px;
    }
  }
  img {
    filter: grayscale(100%);
  }
}

#school-search_wrapper {
  #school-search {
    padding-top: 25px;
    td {
      font-size: 12px;
    }
  }
  #school-search_filter {
    float: left;
    text-align: left;
    label {
      color: $dark-gray;
      input {
        border: none;
        border-bottom: 1px solid $dark-gray;
      }
    }
  }
  #school-search_paginate {
    .paginate_button {
      background-color: $green;
      border-radius: 0;
      color: #fff !important;
      border: none;
      &:hover, &.current {
        background: none !important;
        background-color: $dark-gray !important;
      }
      &.disabled {
        background-color: $light-gray !important;
        color: $dark-gray !important;
      }
      &.previous {

      }
      &.next {

      }
    }
  }
}

@media (min-width: 992px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .intro, .summary, .resources, .legal-info {
    height: calc(100% - 10px);
  }
}