---
---
$green: #9cb069;
$blue: #3eb3c4;

body {
  font-family: Helvetica;
}

nav.navbar-default {
  border-bottom: none !important;
  .navbar-nav {
    margin: 0 -15px;
  }
  .navbar-header {
    background-color: #fff;
  }
  .navbar-brand {
    padding: 7px;
  }
  .nav-button {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    float: right;
    background-color: $green;
    border: none;
    padding: 15px 30px;
  }
  .navbar-collapse {
    background-color: $green;
    text-align: right;
    border-color: #fff;
    border-top: 1px solid #fff;
    text-transform: uppercase;
    li {
      border-bottom: 1px dotted #fff;
      &:last-of-type {
        border-bottom: none;
      }
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.navbar-margin {
  margin-top: 53px;
}

.landing {
  .weekly-spotlight {
    padding-top: 30px;
    position: relative;
    color: #fff;
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
    }
    .ws-header {
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px 20px;
      background-color: $blue;
      width: 80%;
    }
    .ws-content {
      background-color: rgba(0,0,0,0.5);
      background-position: center center;
      width: 80%;
      padding: 10px 20px 30px 20px;
      .ws-title {
        text-transform: uppercase;
        font-size: 20px;
      }
      .ws-text {
        padding-bottom: 25px;
        font-size: 16px;
      }
      .ws-button {
        background-color: rgba(255, 255, 255, 0.2);
        border: solid 0.5px #fff;
        color: #fff;
        padding: 7px 15px;
        font-size: 16px;
      }
    }
  }
}

footer {
}