---
---
$green: #9cb069;
$blue: #3eb3c4;
$yellow: #f6a623;
$orange: #e77918;
$dark-gray: #4a4a4a;

@font-face{ 
  font-family: 'Liberation Sans';
  src: url('../fonts/LiberationSans.woff') format('woff');
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Liberation Sans', sans-serif;
  color: $dark-gray;
  min-height: calc(100% - 55px);
  position: relative;
  padding-bottom: 50px;
}

footer {
  padding: 10px 5px;
  height: 50x;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  a {
    color: $dark-gray;
    text-decoration: underline;
    padding: 0 15px;
    border-right: 1px solid $dark-gray;
    font-size: 12px;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border-right-width: 0px;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Liberation Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

nav.navbar-default {
  border-bottom: none !important;
  .navbar-nav {
    margin: 0 -15px;
  }
  .navbar-header {
    background-color: #fff;
  }
  .navbar-brand {
    padding: 7px;
    img {
      max-height: 45px;
    }
  }
  .nav-button {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    float: right;
    background-color: $green;
    border: none;
    padding: 15px 30px;
  }
  .navbar-collapse {
    background-color: $green;
    text-align: right;
    border-color: #fff;
    border-top: 1px solid #fff;
    text-transform: uppercase;
    li {
      border-bottom: 1px dotted #fff;
      &:last-of-type {
        border-bottom: none;
      }
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.navbar-margin {
  margin-top: 53px;
  padding: 5px;
}

.landing {
  .watch-latest {
    display: block;
    padding: 25px 10px;
    img {
      width: 75px;
    }
    .cta {
      width: calc(100% - 85px);
      float: right;
      margin-left: 10px;
      font-size: 20px;
      color: $dark-gray;
    }
  }
  .weekly-spotlight {
    position: relative;
    color: #fff;
    background-image: url("../img/education.jpg");
    background-size: cover;
    background-position: center;
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
    }
    .header {
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px 20px;
      background-color: $blue;
      width: 80%;
    }
    .content {
      background-color: rgba(0,0,0,0.5);
      background-position: center center;
      width: 80%;
      padding: 10px 20px 30px 20px;
      .title {
        text-transform: uppercase;
        font-size: 20px;
      }
      .text {
        padding-bottom: 25px;
        font-size: 16px;
      }
      .find-out {
        background-color: rgba(255, 255, 255, 0.2);
        border: solid 0.5px #fff;
        color: #fff;
        padding: 7px 15px;
        font-size: 16px;
        text-decoration: underline;
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.topic-page, .step-detail-page {
  .title-bar {
    text-align: center;
    margin-top: 10px;
    .back {
      float: left;
      cursor: pointer;
      font-size: 16px;
      line-height: 20px;
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}

.topic-page {
  .rating, .page-share {
    display: inline-block;
    padding-top: 10px;
    font-size: 15px;
  }
  .rating {
    width: 50%;
    float: left;
    i {
      color: $yellow;
    }
  }
  .page-share {
    width: 40%;
    text-align: right;
    a {
      color: $blue;
    }
  }
  .did-you-know {
    padding: 25px 10px 0 10px;
    .title {
      margin-bottom: 5px;
      i {
        color: $blue;
      }
    }
  }
  .full-right-button {
    background-color: $orange;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    &:hover {
      text-decoration: none;
    }
  }
  .guide-summary {
    padding: 0 10px;
    margin-top: 25px;
  }
  .guide {
    background-color: $green;
    margin-top: 25px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    .single-step {
      background-color: #fff;
      color: $dark-gray;
      padding: 10px;
      margin-top: 5px;
      display: block;
      &:hover {
        text-decoration: none;
      }
      .circle, .content {
        display: inline-block;
      }
      .circle {
        background-color: $green;
        height: 45px;
        width: 45px;
        border-radius: 100px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        font-size: 20px;
      }
      .content {
        font-weight: bold;
        margin-left: 10px;
        width: calc(100% - 60px);
        vertical-align: middle; 
      }
      .cta {
        text-align: right;
        font-size: 12px;
        text-decoration: underline;
        padding-top: 10px;
        i {
          margin-left: 5px;
        }
      }
    }
    .comment {
      padding: 10px;
      font-size: 15px;
    }
  }
  .who-can-help {
    background-color: $blue;
    color: #fff;
    text-decoration: underline;
    text-align: right;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    display: block;
    i {
      margin-left: 10px;
    }
  }
  .act {
    color: $dark-gray;
    i {
      color: $orange;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}

.step-detail-page {
  .tabs {
    text-align: center;
    padding-top: 20px;
    .btn-taking-action, .btn-support-resources {
      font-size: 15px;
      color: $dark-gray;
      border-bottom: 1px solid $dark-gray;
      text-decoration: none;
      padding: 0 5px;
      margin: 0 5px;
      &:hover {
        color: $dark-gray;
      }
      &.active {
        font-weight: bold;
        border-bottom: 3px solid $green;
      }    
    }
  }
  .header {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  .content-taking-action {
    .basic-info, .legal-info, .detailed-info {
      padding: 5px 15px;
      margin-top: 15px;
      line-height: 22px;
    }
    .legal-info {
      background-color: $orange;
      color: #fff;
    }
    .detailed-info {
      background-color: $green;
      color: #fff;
    }
  }
  .content-support-resources {
    .resources {
      padding: 5px 15px;
      margin-top: 15px;
      line-height: 22px;
      a {
        color: $dark-gray;
        text-decoration: underline;
      }
    }
  }
  .next-step {
    background-color: $blue;
    color: #fff;
    text-decoration: underline;
    text-align: right;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    display: block;
    i {
      margin-left: 10px;
    }
  }
}

