---
layout: base
simple-name: home
categories:
- title: Housing
  name: housing
  status: active
- title: Education
  name: education
  status: active
- title: Solid waste
  name: solid-waste
  status: active
- title: Water
  name: water
- title: Environment
  name: environment
- title: Health
  name: health
- title: Sanitation
  name: sanitation
- title: Indigent grants
  name: indigent-grants
- title: Social grants
  name: social-grants
  status: active
- title: Informal trading
  name: trading
- title: Rates
  name: rates
- title: Safety and law enforcement
  name: safety
- title: Public participation
  name: participation
---
<article class="landing">

  <section>
    <div class="row flex">
      <div class="col-md-4">
        <div class="definition">
          <div class="header">An action taker is...</div>
          <div class="content">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-gavel"></i><b class="uppercase">Informed</b> of their rights and responsibilities</li>
              <li><i class="fa-li fa fa-wrench"></i><b class="uppercase">Empowered</b> to make these rights realised, and</li>
              <li><i class="fa-li fa fa-users"></i><b class="uppercase">Takes action</b> to create a better society</li>
            </ul>
            <a href="#more">Learn more</a>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="weekly-spotlight">
          <div class="header">Weekly spotlight: <span class="topic">Solid Waste</span></div>
          <div class="content">
            <div class="title">Did you know?</div>
            <ul>
              <li>You have a right to a clean and safe environment</li>
              <li>Your municipality is responsible for delivering waste management services</li>
            </ul>
            <div class="subtitle">Do you know what to do if your rubbish isn't being collected?</div>
            <a class="btn btn-primary" href="blue-bags">Blue bags<i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i></a>
            <a class="btn btn-primary" href="wheelie-bins">Wheelie bins<i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="topics">
    <h1>Guides by topic</h1>
    <div class="row flex">
      {% for category in page.categories %}
        {% if category.status == "active" %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block {{ category.name }}" href="{{ category.name }}">
            <div class="topic-title"><span class="topic-text">{{ category.title }}</span></div>
            {% assign category-count = site.collections | where: "category", category.name %}
            {% for count in category-count %}
            <div class="count">{{ forloop.length }} guide{% if forloop.length > 1 %}s{% endif > 1 %}
            </div>
            {% endfor %}
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <h2>Guides in development</h2>
    <div class="row flex">
      {% for category in page.categories %}
        {% unless category.status == "active" %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a class="block {{ category.name }} disabled" href="#">
          <div class="topic-title"><span class="topic-text">{{ category.title }}</span></div>
        </a>
      </div>
        {% endunless %}
      {% endfor %}
    </div>
  </section>

  <div class="involved-wrap">
    <section class="involved">
      <h1>Get involved</h1>
      <p>Do you have an issue that you have resolved? Other people might find that information very useful for their own situations. Why don't you share details on what you experienced and what action you took to resolve it?</p>
      <div class="row flex">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block" href="https://goo.gl/forms/8Zgbq7a2LPIZlwWp1" target="_blank">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <div class="topic-title">Share your story</div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block" href="https://goo.gl/forms/LFVUwm35QYqXpqV22" target="_blank">
            <i class="fa fa-edit" aria-hidden="true"></i>
            <div class="topic-title">Improve existing guides</div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block facebook" href="https://www.facebook.com/ActionTakersSA/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="topic-title">Meet other Action Takers</div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block twitter" href="https://twitter.com/actiontakersSA" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <div class="topic-title">Stay up to date</div>
          </a>
        </div>
        <!--
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a class="block" href="#">
            <i class="fa fa-share" aria-hidden="true"></i>
            <div class="topic-title">Share guides with others</div>
          </a>
        </div>
        -->
      </div>
    </section>
  </div>

  <section id="more">
    <h1>What's this about?</h1>
    <p>Action Takers is a community of civic-minded people hwo understand the role of public participation in our democracy and use that power to ensure their voices are heard. Action Takers contribute to communities' needs being represented and met and assist in co-creating the governance we want. This website is a collection of east-yo-use empowerment guides.</p>
    <p>These guides are classified into various categories and are named by the topic they address. Whilst this collection is by no means extensive, the aim is to grow the collection over time. Initially these guides are focused on the Cape Town area and are tailored for Cape Town specific processes</p>
    <p>We encourage people to use these guides, share them, and provide feedback so that we can continually improve them. Our shared learnings are important and we want to hear your voice and your experience. For those who prefer to work with these guides offline, or who have no online access, these guides are also available in PDF and can be sent via WhatsApp too.</p>
  </section>

</article>