<div class="get-involved-block">
  <h2>Know something we don't?</h2>
  <p>Have you solved an issue in yoru area and it's not listed on this website? We would love others to learn from your experience, so why not <a href="">send through</a> a description of the issue you experiences and the steps you took to resolve it.</p>
  <h2>Help translate guides</h2>
  <p>Are you interested in helping us translate existing guides? We aim to make this information accessible to as many people as possible and your help would be greatly appreciated. <a href="">Get in touch</a> if you want to help us.</p>
</div>