<head>

  <title>Action Takers{% if page.title %} - {{ page.title }}{% endif %}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Action Takers">
  <meta name="author" content="OpenUp">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.png">

  <!-- Web Fonts -->

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet"  href="/css/main.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>