
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="preview-banner">This is a PREVIEW version of Action Takers. <a href="mailto:actiontakers@openup.org.za">Send us feedback or input</a>.</div>
    <div class="navbar-header">

      <button class="visible-xs nav-button" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        Menu
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="{% if page.simple-name == "home" %}active{% endif %}" href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle {% if page.layout == "guide" or page.type == "category-page" %}active{% endif %}" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guides <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/education">Education</a></li>
            <li><a href="/housing">Housing</a></li>
            <li><a href="/social-grants">Social grants</a></li>
            <li><a href="/solid-waste">Solid waste</a></li>
          </ul>
        </li>
        <li><a class="{% if page.simple-name == "about" %}active{% endif %}" href="/about.html">About</a></li>
        <li><a class="{% if page.simple-name == "contact" %}active{% endif %}" href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container navbar-margin">

<img class="visible-print-inline pull-left print-logo" src="/img/logo.png">