<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> <a href="https://www.westerncape.gov.za/legislation/bill-rights-chapter-2-constitution-republic-south-africa#27">Section 27 of the Constitution</a> states that:
  <ul>
    <li>
      Everyone has the right to have access to (1)(c) social security, including, if they are unable to support themselves and their dependants, appropriate social assistance.
    </li>
    <li>
      The state must take reasonable legislative and other measures, within its available resources, to achieve the progressive realisation of each of these rights.
    </li>
  </ul>
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> The Child Support Grant aims to cover the basic needs of children whose parents or guardians are not able to because of their financial circumstances. Children are defined as people who are younger than 18 years old – according to Section 8(1) of the country’s Constitution, Section 1 of the Social Assistance Act of 2004 and Section 1(g) of the Children’s Act of 2005.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> The <a href="http://www2.saflii.org/za/legis/consol_act.DEL/saa2004174/">Social Assistance Act</a> states that a person is eligible for a child support grant if he or she is the primary caregiver of that child, along with other basic eligibility criteria. The current amount received per child is R400/m up to a maximum of 6 children (2018).
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> According to <a href="http://www.ci.uct.ac.za/sites/default/files/image_tool/images/367/Law_reform/Children_Act_guides/consolidated_childrens_act_1april2010.pdf">Section 137 of the Children’s Act</a>, children aged 16 and over are recognised as child-headed households and are eligible to apply for a Child Support Grant if they have assumed the role of caregiver in respect of the children in the household.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> <a href="http://www2.saflii.org/za/legis/hist_reg/saa13o2004rangnr898617/saa13o2004rangnr898a6m2016690.html">Section 11(1) of the 2008 Regulations of the Social Assistance Act of 2004</a> says that SASSA may accept alternative proof of identification where the person currently has no valid proof.
</li>
