<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> The Child Support grant aims to cover the basic needs of children whose parents or guardians are not able to because of their financial circumstances. Children are defined as people who are younger than 18 years old – according to section 8(1) of the country’s Constitution, section 1 of the Social Assistance Act of 2004 and section 1(g) of the Children’s Act of 2005.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> <a class="act" target="_blank" href="https://www.westerncape.gov.za/legislation/bill-rights-chapter-2-constitution-republic-south-africa#27">Section 27 of the Constitution</a> states that:
  <ul>
    <li>
      Everyone has the right to have access to (1)(c) social security, including, if they are unable to support themselves and their dependants, appropriate social assistance.
    </li>
    <li>
      (2) The state must take reasonable legislative and other measures, within its available resources, to achieve the progressive realisation of each of these rights.
    </li>
    <li>
      <a class="act" target="_blank" href="http://pmg-assets.s3-website-eu-west-1.amazonaws.com/docs/100209regulations.pdf">Section 11(1) of the 2008 Regulations of the Social Assistance Act of 2004</a> says that SASSA may accept alternative proof of identification where the person currently has no valid proof.
    </li>
  </ul>
</li>


