<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> According to the <a target="_blank" href="https://www.acts.co.za/south-african-schools-act/index.html">Basic Education Laws Amendment Act, 2011</a>, every child in South Africa has the right to an education. If your child has been denied access to education because they have special needs, you can challenge this.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> A public school must admit learners and serve their educational requirement without unfairly discriminating in any way: <a target="_blank" href="https://www.acts.co.za/south-african- schools- act/5_admission_to_public_schools">SASA Section 5 (1)</a>
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> In determining the placement of a learner with special education needs, the Head of Department and principal must take into account the rights and wishes of the parents of such learner: <a target="_blank" href="https://www.acts.co.za/south-african-schools-act/5_admission_to_public_schools">SASA Section 5 (6)</a>
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> Any learner or parent of a learner who has been refused admission to a public school may appeal against the decision to the Member of the Executive Council: <a target="_blank" href="https://www.acts.co.za/south-african-schools-act/5_admission_to_public_schools">SASA Section 5 (9)</a>
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> Notwithstanding the provisions of any school admission policy, in the case of a learner who has not been placed at any school 30 school days after the end of the admission period, the District Director may place that learner at any school -
  <ol type="a">
    <li>which has not been declared full in terms of Regulation 8, and</li>
    <li>in respect of which there are no remaining unplaced learners on a waiting list.</li>
  </ol>
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> Regulations on admission of learners to Public Schools 2012: <a target="_blank" href="https://www.acts.co.za/south-african-schools-act/5_admission_to_public_schools">SASA Section 5 (8)</a>
</li>