<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i>Everyone has the right to adequate housing and the state is obligated to take reasonable measures to satisfy that right.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> <a target="_blank" href="http://myconstitution.co.za/en/02.html#housing">Section 26(3) of the Constitution</a> states that “No one may be evicted from their home, or have their home demolished, without an order of court made after considering all the relevant circumstances. No legislation may permit arbitrary evictions.” Everyone in South Africa has the right to access to adequate housing.
</li>
<li>
  <i class="fa-li fa fa-gavel" aria-hidden="true"></i> <a target="_blank" href="https://www.acts.co.za/prevention-of-illegal-eviction-from-and-unlawful-occupation-of-land-act-1998/notice_no__789_of_1998">The Prevention of Illegal Eviction From and Unlawful Occupation of Land Act 19 of 1998 (PIE)</a> sets out the procedure and requirements to be followed in a lawful eviction. It also sets out the circumstances that the Magistrate should consider before ordering an eviction.
</li>