---
layout: base
---
<section class="single-guide-page {{ page.name }} mobile-print">
  <div class="row bread-rating hidden-print">
    <div class="col-md-8 crumbs">
      <span><a href="/">Empowerment guides</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span>
      {% if page.category %}<span><a href="../{{ page.category-link }}">{{ page.category }}</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span>{% endif %}
      <span><strong>{{ page.short-title }}</strong></span>
    </div>
  </div>

  <div class="guide-title">
    <h1>{{ page.title }}</h1>
    <div class="description">{{ page.description }}</div>
  </div>

  <div class="row guide-meta hidden-print">
    <div class="col-sm-3 col-xs-6 location">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Cape Town
    </div>
    <div class="col-sm-3 col-xs-6 language">
      <i class="fa fa-fw fa-mobile" aria-hidden="true"></i> <a href="../pdf/{{ page.name }}-mobile.pdf">Download mobile guide</a>
    </div>
    <div class="col-sm-3 col-xs-6 download">
      <i class="fa fa-fw fa-file-text-o"" aria-hidden="true"></i> <a href="../pdf/{{ page.name }}.pdf" target="_blank">Download print guide</a>
    </div>
    <div class="col-sm-3 col-xs-6 page-share">
      <a network="whatsapp" class="whatsapp hidden-md hidden-lg" href="whatsapp://send?text=http://actiontakers.co.za{{ page.url }}"><i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i></a>
      <a network="twitter" class="twitter" href=""><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
      <a network="facebook" class="facebook" href=""><i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i></a>
      <a network="email" class="email" href=""><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="whatsapp-bar">
    <i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i> To get this guide on WhatsApp, message "{{ page.short-title }}" to <b><a href="tel:0647210958">064 721 0958</a></b>
  </div>

  {{ page.content }}

  <div class="rate hidden-print">
    <strong>How useful was this guide?</strong>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>

  {% include get-involved.html %}

</section>