---
layout: base
---
<section class="single-guide-page {{ page.name }}">
  <div class="row bread-rating hidden-print">
    <div class="col-md-8 crumbs">
      <span><a href="">Empowerment guides</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <span><a href="">Solid waste</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span>
      <span><strong>{{ page.short-title }}</strong></span>
    </div>
  </div>

  <div class="guide-title">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="row guide-meta hidden-print">
    <div class="col-sm-3 col-xs-6 location">
      <i class="fa fa-map-marker" aria-hidden="true"></i> Cape Town
    </div>
    <div class="col-sm-3 col-xs-6 language">
      <i class="fa fa-globe" aria-hidden="true"></i> <a href="">Change language</a>
    </div>
    <div class="col-sm-3 col-xs-6 download">
      <i class="fa fa-download" aria-hidden="true"></i> <a href="../pdf/{{ page.name }}.pdf">Download guide</a>
    </div>
    <div class="col-sm-3 col-xs-6 page-share">
      <a class="whatsapp hidden-md hidden-lg" href="whatsapp://send?text=http://actiontakers.openup.org.za{{ page.url }}"><i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i></a>
      <a class="twitter" href=""><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
      <a class="facebook" href=""><i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i></a>
      <a class="email" href=""><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="whatsapp-bar">
    <i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i> To get this guide on WhatsApp, message "{{ page.short-title }}" to <b>064 721 0958</b>
  </div>

  <div class="hidden-print">
    <div class="did-you-know">
      <div class="title">
        <i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Did you know?
      </div>
      <hr>
      <div class="content">
        {{ page.did-you-know }}
        <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Your full rights and responsibilities</a>
      </div>
    </div>
  </div>

  <div class="summary hidden-print">
    {{ page.guide-summary }}
  </div>

  {{ page.content }}

  <div class="rate hidden-print">
    <strong>How useful was this guide?</strong>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>

  {% include get-involved.html %}

</section>